.home{
    .gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        gap: 35px;
        background-color: rgba(246, 246, 246, 1);
        border-radius: 25px;
        padding: 50px;
        margin: 50px 0;
    }
}