.navbar {
  display: flex;
  justify-content: space-between;
  margin: 25px 0;
  ul {
    display: flex;
    a {
      text-decoration: none;
      color: black;
      &.underline {
        text-decoration: underline;
      }
    }
    li {
        font-size: 25px;
        margin: 0 30px;
        list-style: none;
    }
  }
}
